# Porta HTTP exposta pelo gateway
PORT=8085

# Caminho padrão (opcional) para connection profile/certificados
CCP_PATH=
MSP_ID=
CERT_PATH=
KEY_PATH=
IDENTITY_LABEL=
DISCOVERY_AS_LOCALHOST=false

# Mapeamento dinâmico de organizações (JSON)
IDENTITY_CONFIG=./data/identities.json
DEFAULT_ORG=
DEFAULT_CHANNEL=
DEFAULT_CHAINCODE=
WALLET_PATH=./.gateway-wallet
